
/ {
    chosen{
        /*zephyr,console = &usb_serial;*/
		/*zephyr,shell-uart = &usb_serial;*/
        /*zephyr,flash-controller = &flash;*/
        
    };


   


    fstab {
		compatible = "zephyr,fstab";
		status="okay";
		lfs1: lfs1 {
			compatible = "zephyr,fstab,littlefs";
			status="okay";
			read-size = <16>;
			prog-size = <16>;
			cache-size = <64>;
			lookahead-size = <32>;
			block-cycles = <256>;
			partition = <&littlefs_partition>;
			mount-point = "/lfs";
            //automount;
            disk-access;
		};
	};

};


&mx25r64 {
	status = "okay";
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		littlefs_partition: partition@0 {
			label = "littlefs";
			reg = <0x00000000 0x0004000>; /* 64 MB */
			read-only;
			status = "okay";
		};
		next_partition: partition@20000 {
			label = "next";
			reg = <0x000020000 0x03f00000>; /* 64 MB */
			read-only;
			status = "okay";
		};
	};
};






